h1{
    font-family: "League Spartan";
   color: hsl(300, 43%, 22%);
   line-height: 90%;
}
#stars{
background-color:  hsl(300, 24%, 96%);
width: fit-content;}
body{
width: fit-content;

}

.top{
display: flex;
}
.container{
    padding-top: 1vw;
    padding-left: 1vw;
    margin-right: -29.5vw;
}
p{
    font-family: "League Spartan";
    font-size: 18px;
}
main{
    padding-top: 0.5vw;
    padding-left: 1vw;
}
#catlon{
    background-color: hsl(300, 43%, 22%);
    width: 450px;
}
#eren{
    background-color: hsl(300, 43%, 22%);
    width: 450px;
    margin-left: 460px;
    margin-top: -80px;
    height: fit-content;
}
#anne{
    background-color: hsl(300, 43%, 22%);
    width: 450px;
    margin-left: 920px;
    margin-top: -160px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

@media (max-width:440px) {
body{
    width: 360px;
}
    .top{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 10vw;
}
#eren{
    margin-left: 0px;
    margin-top: 1.4vw;
}
#anne{
    margin-left: 0px;
    margin-top: 1.4vw;
}
h1{
    width: 370px;
    font-size: 10px;
}
#text1{
    width: 95vw;
}
#stars{
    width:90.5vw;
    margin-left: 0;
    margin-top: 10px;
}
#catlon,#eren,#anne{
    width: 90.5vw;
}
#art{
padding-right: 3px;
}
}
